.App {
  text-align: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 30%;
  height: auto;
  margin: 20px auto;
  outline: 2px solid lime;
  padding: 10px;
}

.wrapper__controls {
  width: 60%;
  margin: 10px auto;
  display: flex;
  justify-content: space-evenly;
}
.wrapper__controls button {
  width: 60px;
  height: 30px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.add {
  background-color: lime;
}
.clear {
  background-color: orange;
}

.wrapper__output {
  width: 50%;
  height: auto;
  outline: 2px dotted purple;
  border-radius: 15px;
  font-size: 20px;
}